@model Record

<div>
    <div style="min-width:50px; display: inline-block">@Model.Id</div>
    <div style="min-width:200px; display: inline-block">@Model.Name</div>
    <div style="min-width:50px; display: inline-block">@Model.Count</div>
    <div style="min-width:100px; display: inline-block">@Model.CreatedDate.ToString("dd-MM-yyyy hh:mm:ss")</div>
</div>